<section>
    <div class="page-header">

        
          <h2><b>Lift Status</b></h2>
        
        

    </div> 

<div class="row row-sm">
    <div class="col-lg-12">
        <div class="card custom-card">
            <div class="card-body">
                <div class="card-item">

                    

                    <div class="lift">
                    <div class="row">
                        <div class="col-md-4">
                           <div class="mat-card" style="width: 530px; height: 320px; background-color: black; border-width: thick; border-color: #7e7e7e;">
                            <div class="row p-2">
                                <div class="col-md-4">
                                    <div class="mat-card" style="background-color:#282828; height:306px; width:178px">
                                        <div class="row" style="flex-wrap:nowrap">
                                            <div class="col">
                                            <div class="label-blue pt-2">
                                                <label>
                                                    <div class="lift-img">
                                                        <img src="../../../../assets/images/lift image.jpg" alt="">
                                                    </div>
                                                </label>
                                            </div>
                                            </div>

                                            <div class="col">
                                                <div class="side-btn">
                                                    <div class="btn">
                                                        <button type="button" class="btn">Error Reset</button>
                                                        
                                                    </div>
                                                    <div class="btn">
                                                        <button type="button" class="btn">Fire Phase</button>
                                                        
                                                    </div>
                                                </div>

                                           
                                            </div>
                                        </div>
                                        
                                        


                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="mat-card"style="background-color:#282828; height:306px; width:334px">
                                        <div class="no-lists pt-1">
                                            
                                                <ul>
                                                    <li><label>1</label></li>
                                                    <li><label>1</label></li>
                                                    <li><label>1</label></li>
                                                    <li><label>1</label></li>
                                                    <li><label>1</label></li>
                                                    <li><label>1</label></li>
                                                    <li><label>1</label></li>
                                                    <li><label>1</label></li>
                                                    <li><label>1</label></li>
                                                    <li><label>1</label></li>
                                                    <li><label>1</label></li>
                                                    <li><label>1</label></li>
                                                    <li><label>1</label></li>
                                                    <li><label>1</label></li>
                                                    <li><label>1</label></li>
                                                    <li><label>1</label></li>
                                                    <li><label>1</label></li>
                                                    <li><label>1</label></li>
                                                    <li><label>1</label></li>
                                                    <li><label>1</label></li>
                                                    <li><label>1</label></li>
                                                    <li><label>1</label></li>
                                                    <li><label>1</label></li>
                                                    <li><label>1</label></li>
                                                    <li><label>1</label></li>
                                                    <li><label>1</label></li>
                                                    <li><label>1</label></li>
                                                    <li><label>1</label></li>
                                                    <li><label>1</label></li>
                                                    <li><label>1</label></li>
                                                    <li><label>1</label></li>
                                                    <li><label>1</label></li>
                                                    <li><label>1</label></li>
                                                    <li><label>1</label></li>
                                                    <li><label>1</label></li>
                                                    <li><label>1</label></li>
                                                    <li><label>1</label></li>
                                                    <li><label>1</label></li>
                                                    <li><label>1</label></li>
                                                    <li><label>1</label></li>
                                                    <li><label>1</label></li>
                                                    <li><label>1</label></li>


                                                </ul>
                                            
                                        </div>

                                        <div class="no-lists pt-1">
                                            <ul>
                                                <li>
                                                    <label><img class="up" src="../../../../assets/images/caret-arrow-up.png" alt="">
                                                        <img class="down" src="../../../../assets/images/sort-down.png" alt="">
                                                    </label>
                                                </li>
                                                <li>
                                                    <label><img class="up" src="../../../../assets/images/caret-arrow-up.png" alt="">
                                                        <img class="down" src="../../../../assets/images/sort-down.png" alt="">
                                                    </label>
                                                </li>
                                                <li>
                                                    <label><img class="up" src="../../../../assets/images/caret-arrow-up.png" alt="">
                                                        <img class="down" src="../../../../assets/images/sort-down.png" alt="">
                                                    </label>
                                                </li>
                                                <li>
                                                    <label><img class="up" src="../../../../assets/images/caret-arrow-up.png" alt="">
                                                        <img class="down" src="../../../../assets/images/sort-down.png" alt="">
                                                    </label>
                                                </li>
                                                <li>
                                                    <label><img class="up" src="../../../../assets/images/caret-arrow-up.png" alt="">
                                                        <img class="down" src="../../../../assets/images/sort-down.png" alt="">
                                                    </label>
                                                </li>
                                                <li>
                                                    <label><img class="up" src="../../../../assets/images/caret-arrow-up.png" alt="">
                                                        <img class="down" src="../../../../assets/images/sort-down.png" alt="">
                                                    </label>
                                                </li>
                                                <li>
                                                    <label><img class="up" src="../../../../assets/images/caret-arrow-up.png" alt="">
                                                        <img class="down" src="../../../../assets/images/sort-down.png" alt="">
                                                    </label>
                                                </li>
                                            </ul>
                                            
                                        </div>


                                    </div>
                                </div>
                            </div>

                           </div>


                        </div>

                       

                        

                        
                       
                    </div>    
                    
                   

               

                    </div>

                </div>
            </div>
        </div>            
    </div>
</div>



</section>

