<div class="jumps-prevent" style="padding-top: 74px;"></div> <!-- /app-Header -->
<!--APP-SIDEBAR-->



<div class="jumps-prevent" style="padding-top: 74px;"></div>
<div class="main-content app-content mt-0">
    <div class="side-app">
        <!-- CONTAINER -->
        <div class="main-container container-fluid">
            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">Dashboard </h1>
                <div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Dashboard </li>
                    </ol>
                </div>
            </div> <!-- PAGE-HEADER END -->
            <!-- ROW-1 -->
            <!-- <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3">
                            <div class="card overflow-hidden">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="mt-2">
                                            <h6 class="">UP</h6>
                                            <h2 class="mb-0 number-font">138</h2>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3">
                            <div class="card overflow-hidden">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="mt-2">
                                            <h6 class="">ENT</h6>
                                            <h2 class="mb-0 number-font">0</h2>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3">
                            <div class="card overflow-hidden">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="mt-2">
                                            <h6 class="">DWN2</h6>
                                            <h2 class="mb-0 number-font">0</h2>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3">
                            <div class="card overflow-hidden">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="mt-2">
                                            <h6 class="">BAT</h6>
                                            <h2 class="mb-0 number-font">0</h2>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3">
                            <div class="card overflow-hidden">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="mt-2">
                                            <h6 class="">NC</h6>
                                            <h2 class="mb-0 number-font">63</h2>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3">
                            <div class="card overflow-hidden">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="mt-2">
                                            <h6 class="">DWN1</h6>
                                            <h2 class="mb-0 number-font">19</h2>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3">
                            <div class="card overflow-hidden">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="mt-2">
                                            <h6 class="">Total</h6>
                                            <h2 class="mb-0 number-font">220</h2>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div> -->
            <!-- ROW-1 END -->
            <!-- ROW-2 -->
            <!-- <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Sales Analytics</h3>
                        </div>
                        <div class="card-body">
                            <div class="d-flex mx-auto text-center justify-content-center mb-4">
                                <div class="d-flex text-center justify-content-center me-3"><span
                                        class="dot-label bg-primary my-auto"></span>Total Sales</div>
                                <div class="d-flex text-center justify-content-center"><span
                                        class="dot-label bg-secondary my-auto"></span>Total Orders</div>
                            </div>
                            <div class="chartjs-wrapper-demo">
                                <div class="chartjs-size-monitor"
                                    style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                    <div class="chartjs-size-monitor-expand"
                                        style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                        <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0">
                                        </div>
                                    </div>
                                    <div class="chartjs-size-monitor-shrink"
                                        style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                        <div style="position:absolute;width:200%;height:200%;left:0; top:0">
                                        </div>
                                    </div>
                                </div> <canvas id="transactions" class="chart-dropshadow chartjs-render-monitor"
                                    height="330" style="display: block; width: 641px; height: 330px;"
                                    width="641"></canvas>
                            </div>
                        </div>
                    </div>
                </div> <!-- COL END -->
            <!-- <div class="col-sm-12 col-md-12 col-lg-12 col-xl-3">
                    <div class="card overflow-hidden">
                        <div class="card-body pb-0 bg-recentorder">
                            <h3 class="card-title text-white">Recent Orders</h3>
                            <div class="chartjs-wrapper-demo">
                                <div class="chartjs-size-monitor"
                                    style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                    <div class="chartjs-size-monitor-expand"
                                        style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                        <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0">
                                        </div>
                                    </div>
                                    <div class="chartjs-size-monitor-shrink"
                                        style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                        <div style="position:absolute;width:200%;height:200%;left:0; top:0">
                                        </div>
                                    </div>
                                </div> <canvas id="recentorders" class="chart-dropshadow chartjs-render-monitor"
                                    height="225" style="display: block; width: 164px; height: 225px;"
                                    width="164"></canvas>
                            </div>
                        </div>
                        <div id="flotback-chart" class="flot-background" style="padding: 0px;"><canvas class="flot-base"
                                width="214" height="300"
                                style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 214.25px; height: 300px;"></canvas><canvas
                                class="flot-overlay" width="214" height="300"
                                style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 214.25px; height: 300px;"></canvas>
                        </div>
                        <div class="card-body">
                            <div class="d-flex mb-4 mt-3">
                                <div class="avatar avatar-md bg-secondary-transparent text-secondary bradius me-3">
                                    <i class="fe fe-check"></i>
                                </div>
                                <div class="">
                                    <h6 class="mb-1 fw-semibold">Delivered Orders</h6>
                                    <p class="fw-normal fs-12"> <span class="text-success">3.5%</span>
                                        increased </p>
                                </div>
                                <div class=" ms-auto my-auto">
                                    <p class="fw-bold fs-20"> 1,768 </p>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="avatar  avatar-md bg-pink-transparent text-pink bradius me-3">
                                    <i class="fe fe-x"></i>
                                </div>
                                <div class="">
                                    <h6 class="mb-1 fw-semibold">Cancelled Orders</h6>
                                    <p class="fw-normal fs-12"> <span class="text-success">1.2%</span>
                                        increased </p>
                                </div>
                                <div class=" ms-auto my-auto">
                                    <p class="fw-bold fs-20 mb-0"> 3,675 </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  -->
            <!-- ROW-2 END -->
            <!-- ROW-3 -->
            <div class="row text-center">
                <div class="col-xl-12 col-md-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xl-12">
                                <div class="card overflow-hidden">
                                    <div class="card-body p-4">
                                        <div class="d-flex justify-content-center">
                                            <div class="mt-2 ">
                                                <h6 >TOTAL</h6>
                                                <h2 class="mb-0 number-font">{{total_count}}</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xl-6"
                                *ngFor="let item of count" >
                                <div class="card overflow-hidden">
                                    <div class="card-body p-4">
                                        <div class="d-flex justify-content-center">
                                            <div class="mt-2">
                                                <h6 *ngIf="item?.STAT == 'UP'" >RUNNING</h6>
                                                <h6 *ngIf="item?.STAT == 'ENT'" >ENTRAPMENT</h6>
                                                <h6 *ngIf="item?.STAT == 'DWN2'" >BREAK DOWN</h6>
                                                <h6 *ngIf="item?.STAT == 'BAT'" >LOW BATTERY</h6>
                                                <h6 *ngIf="item?.STAT == 'NC'" >NO COMMUNICATION</h6>
                                                <h6 *ngIf="item?.STAT == 'DWN1'" >ERROR</h6>
                                                <h6 *ngIf="item?.STAT == 'ABAT'" >ABAT</h6>
                                                <h6 *ngIf="item?.STAT == 'EBAT'" >EBAT</h6>
                                                <h2 class="mb-0 number-font">{{item?.STATCNT}}
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
            <!-- <div class="">
<button (click)="next()"class="btn">Next</button>
            </div> -->

            <!-- ROW-3 END -->





        </div> <!-- CONTAINER END -->
    </div>
</div>
