<div class="jumps-prevent" style="padding-top: 74px;"></div> <!-- /app-Header -->
<!--APP-SIDEBAR-->



<div class="jumps-prevent" style="padding-top: 74px;"></div>
<div class="main-content app-content mt-0">
    <div class="side-app">
        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <div class="row tab">
                    <div class="col-12 col-sm-12" style="    padding-bottom: 6px;">
                            <button class="but" (click)="map()">Map</button>
                        </div>
                <div class="col-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title mb-0">EBAT LIFTS</h3>
                        </div>
                        <div class="card-body pt-4">
                            <div class="grid-margin">
                                <div class="">
                                    <div class="panel panel-primary">

                                        <div class="panel-body tabs-menu-body border-0 pt-0">
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab5">
                                                    <div class="table-responsive">
                                                        <div id="data-table_wrapper"
                                                            class="dataTables_wrapper dt-bootstrap5 no-footer">
                                                            <div class="row">
                                                                <div class="col-sm-12 col-md-6">
                                                                    <div class="dataTables_length"
                                                                        id="data-table_length">
                                                                        </div>
                                                                </div>
                                                                <div class="col-sm-12 col-md-6">
                                                                    <div id="data-table_filter"
                                                                        class="dataTables_filter">
                                                                        <label><input type="search"
                                                                                class="form-control form-control"
                                                                                placeholder="Search..."
                                                                                aria-controls="data-table" [(ngModel)]="term" (input)="tt.filterGlobal($event.target.value, 'contains')" ></label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <!-- <table id="data-table"
                                                                        class="table table-bordered text-nowrap mb-0 dataTable no-footer"
                                                                        role="grid" aria-describedby="data-table_info">
                                                                        <thead class="border-top">
                                                                            <tr role="row">
                                                                                <th class="bg-transparent border-bottom-0 "
                                                                                    style="width: 88.7188px;"
                                                                                    rowspan="1" colspan="1">
                                                                                    BRCODE</th>
                                                                                <th class="bg-transparent border-bottom-0 "
                                                                                    style="width: 88.7188px;"
                                                                                    rowspan="1" colspan="1">
                                                                                    JobNo</th>
                                                                                <th class="bg-transparent border-bottom-0 "
                                                                                    tabindex="0" rowspan="1" colspan="1"
                                                                                    style="width: 119.906px;">
                                                                                    Brk.Dwn Time</th>
                                                                                <th class="bg-transparent border-bottom-0 "
                                                                                    tabindex="0" rowspan="1" colspan="1"
                                                                                    style="width: 89.375px;">
                                                                                  Fault Desc</th>
                                                                                <th class="bg-transparent border-bottom-0 "
                                                                                    tabindex="0" rowspan="1" colspan="1"
                                                                                    style="width: 63.2031px;">
                                                                                    Mech.Mobile</th>
                                                                                <th class="bg-transparent border-bottom-0 "
                                                                                    rowspan="1" colspan="1"
                                                                                    style="width: 75.3125px;">
                                                                                    Cleared Dt.</th>
                                                                                <!-- <th class="bg-transparent border-bottom-0 "
                                                                                    rowspan="1" colspan="1"
                                                                                    style="width: 106.797px;">
                                                                                    Fault Desc</th> 

                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr class="border-bottom odd" *ngFor="let item of epatDta  | paginate: config | filter:term | slice:startIndex:endIndex;">
                                                                                    <td class="text-center" >
                                                                                            <div class="mt-0 mt-sm-2 d-block">
                                                                                                <h6
                                                                                                    class="mb-0 fs-14 fw-semibold">{{item.DBD_BRCODE}}
                                                                                                </h6>
                                                                                            </div>
                                                                                        </td>
                                                                                <td class="text-center">
                                                                                    <div class="mt-0 mt-sm-2 d-block">
                                                                                        <h6
                                                                                            class="mb-0 fs-14 fw-semibold">{{item.DBD_JOBNO}}
                                                                                        </h6>
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div class="d-flex">
                                                                                        <span class="avatar bradius"
                                                                                            ></span>
                                                                                        <div
                                                                                            class="ms-3 mt-0 mt-sm-2 d-block">
                                                                                            <h6
                                                                                                class="mb-0 fs-14 fw-semibold">{{item.DBD_BDOWNTIME | date:'medium'}}

                                                                                            </h6>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div class="d-flex">
                                                                                        <div
                                                                                            class="mt-0 mt-sm-3 d-block">
                                                                                            <h6
                                                                                                class="mb-0 fs-14 fw-semibold">{{item.DBD_FAULTDESC}}
                                                                                            </h6>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                                <td>   <div class="d-flex">
                                                                                    <div
                                                                                        class="mt-0 mt-sm-3 d-block">
                                                                                        <h6
                                                                                            class="mb-0 fs-14 fw-semibold">{{item.DBD_MECHMOBNO}}
                                                                                        </h6>
                                                                                    </div>
                                                                                </div>
                                                                                </td>
                                                                                <td>   <div class="d-flex">
                                                                                    <div
                                                                                        class="mt-0 mt-sm-3 d-block">
                                                                                        <h6
                                                                                            class="mb-0 fs-14 fw-semibold">{{item.DBD_CLEAREDDATE | date:'medium'}}
                                                                                        </h6>
                                                                                    </div>
                                                                                </div>
                                                                                </td>
                                                                                <!-- <td>
                                                                                    <div class="d-flex">
                                                                                        <div
                                                                                            class="mt-0 mt-sm-3 d-block">
                                                                                            <h6
                                                                                                class="mb-0 fs-14 fw-semibold">
                                                                                            </h6>
                                                                                        </div>
                                                                                    </div>
                                                                                </td> 


                                                                            </tr>
                                                                            <!-- <tr class="border-bottom odd">
                                                                                <td class="text-center">
                                                                                    <div class="mt-0 mt-sm-2 d-block">
                                                                                        <h6
                                                                                            class="mb-0 fs-14 fw-semibold">
                                                                                        </h6>
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div class="d-flex">
                                                                                        <span class="avatar bradius"
                                                                                            ></span>
                                                                                        <div
                                                                                            class="ms-3 mt-0 mt-sm-2 d-block">
                                                                                            <h6
                                                                                                class="mb-0 fs-14 fw-semibold">

                                                                                            </h6>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div class="d-flex">
                                                                                        <div
                                                                                            class="mt-0 mt-sm-3 d-block">
                                                                                            <h6
                                                                                                class="mb-0 fs-14 fw-semibold">
                                                                                            </h6>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                                <td><span
                                                                                        class="mt-sm-2 d-block"></span>
                                                                                </td>
                                                                                <td><span
                                                                                        class="fw-semibold mt-sm-2 d-block"></span>
                                                                                </td>
                                                                                <td>
                                                                                    <div class="d-flex">
                                                                                        <div
                                                                                            class="mt-0 mt-sm-3 d-block">
                                                                                            <h6
                                                                                                class="mb-0 fs-14 fw-semibold">g
                                                                                            </h6>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>


                                                                            </tr>
                                                                            <tr class="border-bottom odd">
                                                                                <td class="text-center">
                                                                                    <div class="mt-0 mt-sm-2 d-block">
                                                                                        <h6
                                                                                            class="mb-0 fs-14 fw-semibold">
                                                                                        </h6>
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div class="d-flex">
                                                                                        <span class="avatar bradius"
                                                                                            ></span>
                                                                                        <div
                                                                                            class="ms-3 mt-0 mt-sm-2 d-block">
                                                                                            <h6
                                                                                                class="mb-0 fs-14 fw-semibold">

                                                                                            </h6>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div class="d-flex">
                                                                                        <div
                                                                                            class="mt-0 mt-sm-3 d-block">
                                                                                            <h6
                                                                                                class="mb-0 fs-14 fw-semibold">
                                                                                            </h6>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                                <td><span
                                                                                        class="mt-sm-2 d-block"></span>
                                                                                </td>
                                                                                <td><span
                                                                                        class="fw-semibold mt-sm-2 d-block"></span>
                                                                                </td>
                                                                                <td>
                                                                                    <div class="d-flex">
                                                                                        <div
                                                                                            class="mt-0 mt-sm-3 d-block">
                                                                                            <h6
                                                                                                class="mb-0 fs-14 fw-semibold">
                                                                                            </h6>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>


                                                                            </tr>
                                                                            <tr class="border-bottom odd">
                                                                                <td class="text-center">
                                                                                    <div class="mt-0 mt-sm-2 d-block">
                                                                                        <h6
                                                                                            class="mb-0 fs-14 fw-semibold">
                                                                                        </h6>
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div class="d-flex">
                                                                                        <span class="avatar bradius"
                                                                                            ></span>
                                                                                        <div
                                                                                            class="ms-3 mt-0 mt-sm-2 d-block">
                                                                                            <h6
                                                                                                class="mb-0 fs-14 fw-semibold">

                                                                                            </h6>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div class="d-flex">
                                                                                        <div
                                                                                            class="mt-0 mt-sm-3 d-block">
                                                                                            <h6
                                                                                                class="mb-0 fs-14 fw-semibold">
                                                                                            </h6>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                                <td><span
                                                                                        class="mt-sm-2 d-block"></span>
                                                                                </td>
                                                                                <td><span
                                                                                        class="fw-semibold mt-sm-2 d-block"></span>
                                                                                </td>
                                                                                <td>
                                                                                    <div class="d-flex">
                                                                                        <div
                                                                                            class="mt-0 mt-sm-3 d-block">
                                                                                            <h6
                                                                                                class="mb-0 fs-14 fw-semibold">
                                                                                            </h6>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>


                                                                            </tr> -->
                                                                            <!-- <tr class="border-bottom odd">
                                                                                <td class="text-center">
                                                                                    <div class="mt-0 mt-sm-2 d-block">
                                                                                        <h6
                                                                                            class="mb-0 fs-14 fw-semibold">
                                                                                        </h6>
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div class="d-flex">
                                                                                        <span class="avatar bradius"
                                                                                            ></span>
                                                                                        <div
                                                                                            class="ms-3 mt-0 mt-sm-2 d-block">
                                                                                            <h6
                                                                                                class="mb-0 fs-14 fw-semibold">

                                                                                            </h6>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div class="d-flex">
                                                                                        <div
                                                                                            class="mt-0 mt-sm-3 d-block">
                                                                                            <h6
                                                                                                class="mb-0 fs-14 fw-semibold">
                                                                                            </h6>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                                <td><span
                                                                                        class="mt-sm-2 d-block"></span>
                                                                                </td>
                                                                                <td><span
                                                                                        class="fw-semibold mt-sm-2 d-block"></span>
                                                                                </td>
                                                                                <td>
                                                                                    <div class="d-flex">
                                                                                        <div
                                                                                            class="mt-0 mt-sm-3 d-block">
                                                                                            <h6
                                                                                                class="mb-0 fs-14 fw-semibold">
                                                                                            </h6>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>


                                                                            </tr> 
                                                                        </tbody>
                                                                    </table> -->
                                                                    <p-table #tt [value]="epatDta" styleClass="ui-table-customers"  [paginator]="true" [rows]="5"
                                                                        [rowHover]="true" [rowsPerPageOptions]="[5,10,25,50]" [showCurrentPageReport]="true"
                                                                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [globalFilterFields]="['DBD_BRCODE',
                                                                        'DBD_JOBNO','DBD_FAULTDESC','DBD_MECHMOBNO']">
                                                                       
                                                                        <ng-template pTemplate="header">
                                                                            <tr class="thhead">
                                                                                <th class="th-1">
                                                                                    BRCODE
                                                                                </th>
                                                                                <th>
                                                                                    JobNo
                                                                                </th>
                                                                                <th style="width:200px">
                                                                                    Brk.Dwn Time
                                                                                </th>
                                                                                <th >Fault Desc</th>
                                                                                <!-- <th>Modified by</th> -->
                                                                                <th> Mech.Mobile</th>
                                                                                <!-- <th>Modified at</th> -->
                                                                                <th style="width:200px" >
                                                                                    Cleared.Dt
                                                                                </th>
                                                                            </tr>
                                                                        </ng-template>
                                                                        <ng-template pTemplate="body" let-item  let-i="rowIndex">
                                                                        <!-- <ng-container *ngFor="let item of user_type_list ; let i = index;"> -->
                                                                          <tr class="tdrow">
                                                                               
                                                                      
                                                                                <td>{{item.DBD_BRCODE}}</td>
                                                                                <td>
                                                                                  {{item.DBD_JOBNO}}
                                                                                </td>
                                                                                <td >
                                                                                  {{item.DBD_BDOWNTIME  | date:'medium'}}
                                                                                </td>
                                                                                <td>
                                                                                  {{item.DBD_FAULTDESC}}
                                                                                </td>
                                                                                <td>
                                                                                  {{item.DBD_MECHMOBNO}}
                                                                                </td>
                                                                                <td >
                                                                                    {{item.DBD_CLEAREDDATE | date:'medium'}}
                                                                                </td>
                                                                               
                                                                            </tr>
                                                                       
                                                                        </ng-template>
                                                                      </p-table>
                                                                </div>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="text-center">
                <button (click)="pervious()"class="btn">Previous</button>
                <button (click)="next()"class="btn">Next</button>
            </div> -->

        </div> <!-- CONTAINER END -->
    </div>
</div>

