<mat-drawer-container class="example-container" [ngClass]="{'menuslider' : menu_slider}">
  <mat-drawer class="side" mode="side" opened>
      <mat-nav-list>
          <mat-list-item (click)="menuslide()">
              <mat-icon class="menuBar"> notes</mat-icon>
          </mat-list-item>

          <!-- <mat-list-item routerLink="dashboard" routerLinkActive="active">
              <mat-icon  mat-list-icon><i class="fab fa-slideshare" aria-hidden="true"
                      ></i></mat-icon>
              <div fxFlex="10"></div>
              <div class="sidenav-item">
                  <h5 class="lead">Dashboard</h5>
              </div>
          </mat-list-item> -->

            <!-- <mat-list-item style="padding-left: 5px;" routerLink="field_management" routerLinkActive="active">
              <mat-icon  mat-list-icon><i class="fas fa-arrow-circle-right"
                      aria-hidden="true"
                      ></i>
              </mat-icon>
              <div fxFlex="10"></div>
              <div class="sidenav-item">
                  <h5 class="lead">Group Detail</h5>
              </div>
          </mat-list-item> -->

          <mat-list-item style="padding-left: 5px;" routerLink="manage-user" routerLinkActive="active"  *ngIf="user.userType =='ADMIN'">
            <mat-icon  mat-list-icon><i class="fas fa-arrow-circle-right"
                    aria-hidden="true"
                    ></i>
            </mat-icon>
            <div fxFlex="10"></div>
            <div class="sidenav-item">
                <h5 class="lead">Manage User Details</h5>
            </div>
        </mat-list-item>
        

          <mat-list-item style="padding-left: 5px;" routerLink="user-type" routerLinkActive="active" *ngIf="user.userType =='ADMIN'">
            <mat-icon  mat-list-icon><i class="fas fa-arrow-circle-right"
                    aria-hidden="true"
                    ></i>
            </mat-icon>
            <div fxFlex="10"></div>
            <div class="sidenav-item">
                <h5 class="lead">Create User Detail</h5>
            </div>
        </mat-list-item>

      

        <mat-list-item style="padding-left: 5px;" routerLink="project-layouts" routerLinkActive="active">
            <mat-icon  mat-list-icon><i class="fas fa-arrow-circle-right"
                    aria-hidden="true"
                    ></i>
            </mat-icon>
            <div fxFlex="10"></div>
            <div class="sidenav-item">
                <h5 class="lead">Project Layout</h5>
            </div>
        </mat-list-item>

        <!-- <mat-list-item style="padding-left: 5px;" routerLink="lift-status" routerLinkActive="active">
            <mat-icon  mat-list-icon><i class="fas fa-arrow-circle-right"
                    aria-hidden="true"
                    ></i>
            </mat-icon>
            <div fxFlex="10"></div>
            <div class="sidenav-item">
                <h5 class="lead">Lift Status</h5>
            </div>
        </mat-list-item> -->

        
        </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
      <section class="container-fluid">
          <router-outlet></router-outlet>
      </section>

  </mat-drawer-content>
</mat-drawer-container>
