
th{
    color: #000 !important;
    font-weight: bold;
    font-size: 14px;
}

.mat-table-container {
    display: block !important;
    padding: 0px !important;
    flex-direction: column !important;
    min-width: 300px !important;
    overflow: auto;
}

.mat-table {
background:#f3f4f7 !important;
width: 100%;
overflow: auto;
}
.mat-sort-header-button, th.mat-header-cell, .mat-header-cell{
text-transform:uppercase!important;
font-size: 14px !important;
}

td.mat-cell, th.mat-header-cell, .mat-cell, .mat-header-cell{
border-top: 1px solid lightgrey;
vertical-align: middle;
align-items: initial;
padding: 5px 6px !important;
}
  
th.mat-header-cell, .mat-header-cell {
flex-direction: column;
justify-content: left;
background: #3f51b5;
font-weight: bolder;
}
   
.mat-sort-header-arrow, th.mat-header-cell, .mat-header-cell {
color: white !important;
}
  
.mat-cell,
.mat-header-cell {
word-wrap: initial;
display: table-cell;
padding: 0px 5px;
line-break: unset;
width: auto;
white-space: nowrap;
overflow: hidden;
vertical-align: middle;
}
  

        
.tab{
    margin-top: 45px;
}
@media (min-width: 992px)
{
.app-content {
margin-left: 160px !important;
}
}

.btn {
    background-color: #6c5ffc;
    border: none;
    color: white;
    padding: 0px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

  }
  .main-container {
    padding-left:92px;
}
thead th{
    text-align: center!important;
    font-weight: bold !important;
    
}
.but{
    float: right;
    background-color: #223f9a; 
    border: none;
    color: white;
    padding: 5px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.form-select{
    color:#000;
}
th{
    color:#000 !important;
}
tr{
    color:#000 !important;
}